@media only screen and (max-width: 600px) {

  nav ul {
    display: block;
    width: 30%;
  }

  ul {
    position: absolute;
  }
  .hamburger-nav ul {
    margin-top: -20px;
    margin-left: 5px;
  }

  .social-nav ul {
    width: 15px;
    margin-top: -20px;
  }

  .fa-bars {
    margin-top: -50px;
  }
  nav li {
    display: none;
  }

  .hamburger-nav li a {
    padding: 10px;
  }

  .unclicked .tab {
    display: none;
    font-size: 1em;
    padding: 5px;
  }

  .clicked .tab {
    display: block;
    background-color: #E4572E;
    font-size: 1em;
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    border-top:
  }

  .clicked .social {
    display: block;
    padding: 3px;
  }

  .clicked .social-links {
    width: auto;
    border: #E4572E solid 2px;
    border-radius: 2px;
  }
  .unclicked .social {
    display: none;
  }
}

@media only screen and (min-width: 600px){

  body {
    border: black solid 5px;
  }

  nav ul {
    height: 2em;
    display: inline;
    position: absolute;
  }

}
